// Title
.dui-text-title.dui-text-title-xs {
    font-size: var(--dui-text-title-xs, 2rem);
}

.dui-text-title.dui-text-title-sm {
    font-size: var(--dui-text-title-sm, 3rem);
}

.dui-text-title.dui-text-title-md {
    font-size: var(--dui-text-title-md, 4rem);
}

.dui-text-title.dui-text-title-lg {
    font-size: var(--dui-text-title-lg, 5rem);
}

// Body
.dui-text-body.dui-text-body-xs {
    font-size: var(--dui-text-body-xs, 0.75rem);
}

.dui-text-body.dui-text-body-sm {
    font-size: var(--dui-text-body-sm, 0.875rem);
}

.dui-text-body.dui-text-body-md {
    font-size: var(--dui-text-body-md, 1rem);
}

.dui-text-body.dui-text-body-lg {
    font-size: var(--dui-text-body-lg, 1.5rem);
}

// Caption
.dui-text-caption.dui-text-caption-xs {
    font-size: var(--dui-text-caption-xs, 0.65rem);
}

.dui-text-caption.dui-text-caption-sm {
    font-size: var(--dui-text-caption-sm, 0.7rem);
}

.dui-text-caption.dui-text-caption-md {
    font-size: var(--dui-text-caption-md, .8rem);
}

.dui-text-caption.dui-text-caption-lg {
    font-size: var(--dui-text-caption-lg, 1rem);
}

// Label
.dui-text-label.dui-text-label-xs {
    font-size: var(--dui-text-label-xs, 0.75rem);
}

.dui-text-label.dui-text-label-sm {
    font-size: var(--dui-text-label-sm, 0.875rem);
}

.dui-text-label.dui-text-label-md {
    font-size: var(--dui-text-label-md, 1rem);
}

.dui-text-label.dui-text-label-lg {
    font-size: var(--dui-text-label-lg, 1.125rem);
}