$color-primary: #118ab2;
$color-secondary: #ffd166;
$color-success: #06d6a0;
$color-danger: #ef476f;
$color-neutral: #073b4c;
$color-white: #fff;

:root {
    --color-primary: #{$color-primary};
    --color-secondary: #{$color-secondary};
    --color-success: #{$color-success};
    --color-danger: #{$color-danger};
    --color-neutral: #{$color-neutral};
    --color-white: #{$color-white};


    --color-primary-10: #{rgba($color-primary, 0.1)};
    --color-primary-20: #{rgba($color-primary, 0.2)};
    --color-primary-30: #{rgba($color-primary, 0.3)};
    --color-primary-40: #{rgba($color-primary, 0.4)};
    --color-primary-50: #{rgba($color-primary, 0.5)};
    --color-primary-60: #{rgba($color-primary, 0.6)};
    --color-primary-70: #{rgba($color-primary, 0.7)};
    --color-primary-80: #{rgba($color-primary, 0.8)};
    --color-primary-90: #{rgba($color-primary, 0.9)};
    --color-primary-100: #{rgba($color-primary, 1.0)};

    --color-secondary-10: #{rgba($color-secondary, 0.1)};
    --color-secondary-20: #{rgba($color-secondary, 0.2)};
    --color-secondary-30: #{rgba($color-secondary, 0.3)};
    --color-secondary-40: #{rgba($color-secondary, 0.4)};
    --color-secondary-50: #{rgba($color-secondary, 0.5)};
    --color-secondary-60: #{rgba($color-secondary, 0.6)};
    --color-secondary-70: #{rgba($color-secondary, 0.7)};
    --color-secondary-80: #{rgba($color-secondary, 0.8)};
    --color-secondary-90: #{rgba($color-secondary, 0.9)};
    --color-secondary-100: #{rgba($color-secondary, 1.0)};

    --color-success-10: #{rgba($color-success, 0.1)};
    --color-success-20: #{rgba($color-success, 0.2)};
    --color-success-30: #{rgba($color-success, 0.3)};
    --color-success-40: #{rgba($color-success, 0.4)};
    --color-success-50: #{rgba($color-success, 0.5)};
    --color-success-60: #{rgba($color-success, 0.6)};
    --color-success-70: #{rgba($color-success, 0.7)};
    --color-success-80: #{rgba($color-success, 0.8)};
    --color-success-90: #{rgba($color-success, 0.9)};
    --color-success-100: #{rgba($color-success, 1.0)};

    --color-danger-10: #{rgba($color-danger, 0.1)};
    --color-danger-20: #{rgba($color-danger, 0.2)};
    --color-danger-30: #{rgba($color-danger, 0.3)};
    --color-danger-40: #{rgba($color-danger, 0.4)};
    --color-danger-50: #{rgba($color-danger, 0.5)};
    --color-danger-60: #{rgba($color-danger, 0.6)};
    --color-danger-70: #{rgba($color-danger, 0.7)};
    --color-danger-80: #{rgba($color-danger, 0.8)};
    --color-danger-90: #{rgba($color-danger, 0.9)};
    --color-danger-100: #{rgba($color-danger, 1.0)};

    --color-neutral-10: #{rgba($color-neutral, 0.1)};
    --color-neutral-20: #{rgba($color-neutral, 0.2)};
    --color-neutral-30: #{rgba($color-neutral, 0.3)};
    --color-neutral-40: #{rgba($color-neutral, 0.4)};
    --color-neutral-50: #{rgba($color-neutral, 0.5)};
    --color-neutral-60: #{rgba($color-neutral, 0.6)};
    --color-neutral-70: #{rgba($color-neutral, 0.7)};
    --color-neutral-80: #{rgba($color-neutral, 0.8)};
    --color-neutral-90: #{rgba($color-neutral, 0.9)};
    --color-neutral-100: #{rgba($color-neutral, 1.0)};

    --color-white-10: #{rgba($color-white, 0.1)};
    --color-white-20: #{rgba($color-white, 0.2)};
    --color-white-30: #{rgba($color-white, 0.3)};
    --color-white-40: #{rgba($color-white, 0.4)};
    --color-white-50: #{rgba($color-white, 0.5)};
    --color-white-60: #{rgba($color-white, 0.6)};
    --color-white-70: #{rgba($color-white, 0.7)};
    --color-white-80: #{rgba($color-white, 0.8)};
    --color-white-90: #{rgba($color-white, 0.9)};
    --color-white-100: #{rgba($color-white, 1.0)};
}

.dui-button {
    /* Primary */
    --dui-button-bg-primary-default: var(--color-primary-100);
    --dui-button-bg-primary-hover: var(--color-primary-80);
    --dui-button-bg-primary-focused: var(--color-primary-60);
    --dui-button-bg-primary-active: var(--color-primary-20);
    --dui-button-text-primary-default: var(--color-white-100);
    /* Secondary */
    --dui-button-bg-secondary-default: var(--color-secondary-100);
    --dui-button-bg-secondary-hover: var(--color-secondary-80);
    --dui-button-bg-secondary-focused: var(--color-secondary-60);
    --dui-button-bg-secondary-active: var(--color-secondary-20);
    --dui-button-text-secondary-default: var(--color-neutral-100);
    /* Danger */
    --dui-button-bg-danger-default: var(--color-danger-100);
    --dui-button-bg-danger-hover: var(--color-danger-80);
    --dui-button-bg-danger-focused: var(--color-danger-60);
    --dui-button-bg-danger-active: var(--color-danger-20);
    --dui-button-text-danger-default: var(--color-white-100);
    /* Success */
    --dui-button-bg-success-default: var(--color-success-100);
    --dui-button-bg-success-hover: var(--color-success-80);
    --dui-button-bg-success-focused: var(--color-success-60);
    --dui-button-bg-success-active: var(--color-success-20);
    --dui-button-text-success-default: var(--color-neutral-100);
    /* Cancel */
    --dui-button-bg-cancel-default: var(--color-neutral-30);
    --dui-button-bg-cancel-hover: var(--color-neutral-25);
    --dui-button-bg-cancel-focused: var(--color-neutral-15);
    --dui-button-bg-cancel-active: var(--color-neutral-10);
    --dui-button-text-cancel-default: var(--color-neutral-100);
}
