.dui-button {
    --dui-button-bg-primary-default: red;
    --dui-button-bg-primary-hover: orange;
    --dui-button-bg-primary-focused: blue;
    --dui-button-bg-primary-active: green;

    --dui-button-bg-secondary-default: purple;
    --dui-button-bg-secondary-hover: pink;
    --dui-button-bg-secondary-focused: yellow;
    --dui-button-bg-secondary-active: cyan;
}
